<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main </title>
    <link rel="stylesheet" href="css/site.css">
</head>
<body>
    <div class="body">
    <div>
        <ul> <li><a href = './BSD'>  BSD students </a></li>
        <li><a href = './allStudents'> All students </a> </li>
        <li><a href = './highGPA'> Highest GPA</a> </li>
        <li><a href = '/'> Home </a> </li>
 
</ul>
    </div>
  <hr>
  {{{body}}}

  <hr>
  <div>

      <h2>Student Honour Pledge! </h2>
     <p>I declare that this assignment is my own work in accordance with Seneca Academic Policy.<br>No part of this assignment has been copied manually or electronically from any other source <br>(including web sites) or distributed to other students.<br></p>
<p>Name : <b><mark>Tanvir Singh</mark></b></p>
<p>Student Number: <b><mark>104642210</mark></b></p>

  </div>
  </div>
</body>
</html>