
    <body>
    <table border="2px">
        <tr>
        <th>StudentId</th>
        <th>Name</th>
        <th>Program</th>
        <th>Gpa</th>
    </tr>
{{#each data}}
<tr>
<td>{{studId}}</td>
<td>{{name}}</td>
<td>{{program}}</td>
<td>{{gpa}}</td>
</tr>
{{/each}}
</table>

</body>
